@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h2>Building and running the Asp.Net MVC4 Framework 4.0 C# Razor Template on Mono</h2>
<ol class="round">
    <li>
    <h5>This template is created from the Visual Studion 2010 template</h5>
    The changes made to run it on mono are described at <a href="http://www.cafe-encounter.net/p1319/">
    http://www.cafe-encounter.net/p1319/run-asp-net-mvc4-on-mono
    </a>
    but you may prefer to go straight for the .Net 4.5 template: 
    <a href="http://www.cafe-encounter.net/p1510/asp-net-mvc4-net-framework-version-4-5-c-razor-template-for-mono-on-mac-and-linux">
    http://www.cafe-encounter.net/p1510/asp-net-mvc4-net-framework-version-4-5-c-razor-template-for-mono-on-mac-and-linux
    </a>
    </li>
    <li><h5>Using NuGet with Xamarin Studio/MonoDevelop</h5>
    Search for <a href="http://www.google.com/search?q=NuGet+for+Xamarin+Studio">NuGet for Xamarin Studio</a> for up-to-date information or go
    straight to GitHub for the plug and instructions: 
    <a href="https://github.com/mrward/monodevelop-nuget-addin/blob/master/README.md">
    https://github.com/mrward/monodevelop-nuget-addin/blob/master/README.md
    </a>    
    </li>
</ol>

    <h4>The Original Template Text</h4>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
